html, body {
    height: 100%;
}

body {
    background-color: #f2f3f5;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #a2a3a5;
    font-weight: 300;
    line-height: 1.618em;
}